body{background-color: rgb(236, 247, 236)}
span{text-align:start; font-family:fantasy; font-size:60px; color:white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black;}
p{background-color:rgb(167, 236, 167);}
p.undermain{font-family:fantasy}
#buttons li{float:left; list-style: none; text-align: center; background-color:black; margin-right:30px; width: 150px; line-height: 60px}
#buttons li a{text-decoration:none; color: #FFFFFF; display:block;}
#buttons li a:hover{text-decoration: none; color:black; background-color: #6ce068;}